<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
</head>
<body>
    <!--I could have done a forEach function, for next time
    as it is better practices, less code and more readable
    -->
    <%=title%>
    <div class="all-messages">
        <% for( let i = 0; i < messages.length; i++ ) { %>
            <ul>
                <li>
                    <%= messages[i].text %>
                </li>
                <li>
                    <%= messages[i].user %>
                </li>
                <li>
                    <%= messages[i].added %>
                </li>
            </ul>
            <a href="/<%= messages[i].user %>">
                <button>Open</button>
              </a>
        <% } %>
    </div>
</body>
</html>